{% extends 'base.html.twig' %}

{% block title %}New Warehouse{% endblock %}

{% block body %}
    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Create new Warehouse</h1>
    </div>

    <div class="card shadow-sm mb-4">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-success mt-3">Save</button>
            {{ form_end(form) }}
        </div>
    </div>

    <a href="{{ path('app_warehouse_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
